
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

 .App{
  min-height: 100vh;
  display: flex;
  background-image: url('https://img.freepik.com/free-photo/pop-art-style-speech-bubbles-yellow-backdrop_23-2147910070.jpg?size=626&ext=jpg');
  background-size: cover;
  background-position: center;
  color: black;

}